canvas {
  border: 1px solid black;
  background: #F2F2F2;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
}

.buttonContainer {
  position: relative;
  top: 25px;
  left: 50%;
  width: 80px;
  height: 100px;
}

.class="button" {
  float: left;
}

#canvas {
  z-index: -1;
}

#clear {
  width: 150px;
  height: 50px;
}

body {
  margin: 0;
}
.navbar {
  overflow: hidden;
  position: sticky;
  background-color: #243CFE;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Add a dark blue background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #061061;
}
.footer{
  position: absolute;
  bottom: 10px;
}
/*Calendar stuff */

#fullDiv {
  position: relative;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  float: left;
  display: block;
  width: 14.2857%;
  text-align: center;
  list-style-type: none;
}

li:nth-child(n+1):nth-child(-n+7) {
  font-weight: 900;
  color: #e67e22;
}

li:nth-child(n+39), li:nth-child(n+8):nth-child(-n+16) {
  font-weight: 900;
  color: rgba(0,0,0,.3);
}

li:hover:nth-child(n+8):nth-child(-n+38), li:nth-child(19){
  border-radius: 5px;
  background-color: #1abc9c;
  color: #ecf0f1;
}
