canvas {
  border: 1px solid black;
  background: #FAFAFA;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
}

/*.buttonContainer {
  position: relative;
  top: 25px;
  left: 50%;
  width: 80px;
  height: 100px;
}*/

.class="button" {
  float: left;
}

#canvas {
  z-index: 0;
}

#clear {
  width: 100px;
  height: 46px
}

body {
  margin: 0;
}

.navBar {
  position: relative;
  font-family: Arial;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 5px;
  width: 100%;
  color: white;
  text-align: center;
}

ul {
  z-index: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2E9AFE;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none
}

li a:hover {
  background-color: #0174DF;
}

.g-signin2 {
  position: fixed;
  margin-left: 100px;
  margin-top: 100px;
}

.data {
  display: none;
}
